<div class="container" *ngIf="expLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="pb-3">
                <h1 class="d-flex justify-content-center">Edite su experiencia</h1>
                <div class="form-group">
                    <label for="nombreP" class="text-white pt-2 pb-2">Nombre de la empresa</label>
                    <input type="text" class="form-control" name="nombreP" id="nombreP" [(ngModel)]="expLab.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE" class="text-white pt-2 pb-2">Descripción de tu labores en la misma</label>
                    <input type="text" class="form-control" name="descripcionE" id="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <div class="form-group pb-3">
                    <label for="imgE" class="text-white pt-2 pb-2">URL de la imagen que dese agregar</label>
                    <input type="text" class="form-control" name="imgE" id="imgE" [(ngModel)]="expLab.imgE" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar experiencia
                </button>
            </form>
        </div>
    </div>
</div>

