<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
       
        <div class="d-flex" style="justify-content:space-evenly">
            <h1 class="title pt-5 pb-5">Experiencia</h1>
            <div class="title pb-5" style="padding-top: 2rem;">    
                <i class="bi bi-plus-circle-fill ps-3" routerLink="/nuevaexp" *ngIf="isLogged"></i>   
            </div>     
        </div>
        
        <!-- ============== DISEÑO ORIGINAL CON JSON ================ -->
        <!--   <ul style="width: 100%;">
                <li class="d-flex pb-5 flex-column justify-content-center align-items-center" *ngFor="let experience of experienceList">
                    <div class="template_cards flex-shrink-1">
                        <div class="written">
                            <div class="d-flex justify-content-baseline">
                                <i class="uil uil-pen"></i>
                                <i class="uil uil-trash-alt" ></i>
                                <h1>{{experience.name}}</h1>
                            </div>
                            <p class="lh-lg"> 
                                {{experience.description}} <br>
                                {{experience.startyear}} <br>
                            </p>
                        </div>
                        <div class="logo d-none d-sm-block">
                            <img id="logo_tecnica" [src]="experience.image"/> 
                        </div>  
                    </div>
                </li>
            </ul> -->
        <!-- ============= DISEÑO ORIGINAL CON JWT ================ -->
           <ul style="width: 100%;">
                <li class="d-flex pb-5 flex-column justify-content-center align-items-center" *ngFor="let Experiencia of expe">
                    <div class="template_cards flex-shrink-1">
                        <div class="written">
                            <div class="d-flex justify-content-baseline">
                                <h1 class="pe-4">{{Experiencia.nombreE}}</h1>
                                <i class="uil uil-pen" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged"></i>
                                <i class="bi bi-trash" (click)="delete(Experiencia.id)" *ngIf="isLogged"></i>
                            </div>
                            <p class="lh-lg"> 
                                {{Experiencia.descripcionE}} <br>
                            
                            </p>
                        </div>
                     
                        <div class="logo d-none d-sm-block">
                            <img id="logo_tecnica" [src]="Experiencia.imgE"/> 
                        </div>   
 
                    </div>
                </li>
            </ul> 

        <!-- ===================== DISEÑO SACADO DEL VIDEO ================= 
        <div class="col-lg-2">
            <button class="btn btn-dark" type="button" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva experiencia
            </button>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td>
                            <h2>{{Experiencia.nombreE}}</h2>
                        </td>
                        <td> {{Experiencia.descripcionE}}</td>
                        <td *ngIf="isLogged"> 
                            <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR 
                            </button>
                        </td>

                        <td *ngIf="isLogged"> 
                            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR 
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  -->

    </div>
</section>