<header class="d-flex justify-content-between" style="width: 100%; height: 100%;">
    <div class="d-flex">
        <div>
            <a href="https://argentinaprograma.inti.gob.ar/"> <img src="./assets/Backgrounds/Argentina programa.png" alt="argentina programa" style="height: 50px;"></a>
        </div> 
        <div    class="d-flex justify-content-between align-items-center">
            <a href="https://www.facebook.com/rafael.machado.52687" class="d-none d-sm-block"> <i class="bi bi-facebook text-white"></i> </a>
            <a href="" class="d-none d-sm-block">  <i class="bi bi-twitter text-white ps-1"></i> </a>
            <a href="https://www.instagram.com/rafaelmachadoignacio/" class="d-none d-sm-block"> <i class="bi bi-instagram text-white ps-1"></i> </a>     
        </div>
    </div>
   <app-btn-log-in></app-btn-log-in>
</header>

