<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <h1 class="title pt-5 pb-5">Experiencia</h1>  
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus "></i></a>
        </div>
            <div class="template_cards flex-shrink-1">
                <div class="written">
                    <div class="d-flex justify-content-baseline">
                        <i class="uil uil-pen" id="edit_tecnica"></i>
                        <i class="uil uil-trash-alt" id="eliminar_trabajo_uno"></i>
                        <h1 id="h1_experiencia_uno">Back Up Gráfico</h1>
                    </div>
                    <p id="p_trabajouno" class="lh-lg">Local de diseño gráfico.<br>
                                    2016-2020
                    </p>
                </div>
                <div class="escudo ténica d-none d-sm-block">
                    <img class="imgs_cards" src="./assets/Backgrounds/back_up.jpg" alt="back_up">
                </div>   
            </div>
    </div>
</section>
