<!-- <section class="start p-4">
    <div class="rounded-5 cont-start" *ngFor="let Aboutme of about">
        
        <div class="rounded-4 rounded-top background_picture d-none d-sm-block">
            <img class="background-inicio position-relative d-none d-md-block" [src]="Aboutme.imgfondoD" alt="background"> 
        </div>
        
        <div class="information">
            
            <div class="container_perfil position-absolute">
                <img [src]="Aboutme.imgperfilD" alt="perfil" class="perfil rounded-circle ms-4 position-absolute"> 
            </div>
            
            <div class="d-flex">

                <div class="name ps-0" style="width: 25%;">
                    <h2 class="text-white">{{Aboutme.nombreD}}</h2>
                    <p class="text-dark" style="height: 1rem;">{{Aboutme.ubicacionD}}</p>
                </div>

                <div class="d-flex pt-4">
                    <div class="about_description pe-3"> 
                        <div class="d-flex">
                            <i class="uil uil-edit" style="font-size: 2.5rem;" routerLink="/editaboutme/{{Aboutme.id}}" *ngIf="isLogged"></i>
                            <h1 class="px-2">About Me:</h1>
                        </div>
                        
                        <h3> <span class="text-warning"> {{Aboutme.puestoD}}  </span> </h3> 
                            
                        <h4>{{Aboutme.infoD}}</h4> 
                       
                        <h4 class="d-block">{{Aboutme.infosD}}</h4>
                    </div>
                </div>

            </div>  
        

        </div>
       
      
    </div>
</section>  -->

<section class="p-4 ">
    <div class="rounded-5 cont-start" *ngFor="let Aboutme of about">
        
        <div class="rounded-4 rounded-top background_picture d-none d-sm-block">
            <img class="background-inicio position-relative d-none d-md-block" [src]="Aboutme.imgfondoD" alt="background"> 
        </div>
        
        <div class="information">
            
            <div class="container_perfil position-absolute">
                <img [src]="Aboutme.imgperfilD" alt="perfil" class="perfil rounded-circle ms-4 position-absolute"> 
            </div>
            
            <div class="d-flex">
                <div class="name ps-0" style="width: 25%;">
                    <h2 class="text-white">{{Aboutme.nombreD}}</h2>
                    <p class="text-dark" style="height: 1rem;">{{Aboutme.ubicacionD}}</p>
                </div>

                <div class="d-flex pt-4">
                    <div class="about_description pe-3"> 
                        <div class="d-flex">
                            <i class="uil uil-edit" style="font-size: 2.5rem;" routerLink="/editaboutme/{{Aboutme.id}}" *ngIf="isLogged"></i>
                            <h1 class="px-2">About Me:</h1>
                        </div>
                        
                        <h3> <span class="text-warning"> {{Aboutme.puestoD}}  </span> </h3> 
                            
                        <h4>{{Aboutme.infoD}}</h4> 
                       
                        <h4 class="d-block">{{Aboutme.infosD}}</h4>
                    </div>
                </div>

            </div>  
        

        </div>
       
      
    </div>
</section> 
