<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
       
        <div class="d-flex" style="justify-content:space-evenly">
            <h1 class="title pt-5 pb-5">Educación</h1> 
            <div class="title pb-5" style="padding-top: 2rem;">    
                <i class="bi bi-plus-circle-fill ps-3" routerLink="/nuevaeduc" *ngIf="isLogged"></i>   
            </div> 
        </div>
            
             <!--   <ul>
                    <li class="d-flex pb-5 flex-column justify-content-center align-items-center" *ngFor="let education of educationList">
                        <div class="template_cards flex-shrink-1">
                            <div class="written">
                                <div class="d-flex justify-content-baseline">
                                    <i class="uil uil-pen"></i>
                                    <i class="uil uil-trash-alt"></i>
                                    <h1>{{education.name}}</h1>
                                </div>
                                <p id="ptecnica"> 
                                                {{education.title}} <br>
                                                {{education.year}} <br>
                                                {{education.ubication}}
                                </p>
                            </div>
                            <div class="d-none d-md-block">
                                <img id="logo_tecnica" [src]="education.img"> 
                            </div>  
                        </div>
                    </li>
                </ul> -->
            
        <ul style="width: 100%;">
            <li class="d-flex pb-5 flex-column justify-content-center align-items-center" *ngFor="let Educacion of educ">
                <div class="template_cards flex-shrink-1">
                    <div class="written">
                        <div class="d-flex justify-content-baseline">
                            <i class="uil uil-pen" routerLink="/editeduc/{{Educacion.id}}" *ngIf="isLogged"></i>
                            <i class="bi bi-trash" (click)="delete(Educacion.id)" *ngIf="isLogged"></i>
                            <h1 class="pe-4">{{Educacion.tituloEd}}</h1>                                
                            </div>
                            <p class="lh-lg"> 
                                {{Educacion.nombreEd}} <br>
                                {{Educacion.yearEd}} <br>    
                            </p>
                        </div>
                         
                        <div class="logo d-none d-sm-block">
                            <img id="logo_tecnica" [src]="Educacion.imgEd"/> 
                        </div>   
     
                </div>
            </li>
        </ul> 

                       
    </div>
</section>
