<!--=====================================HEADER====================================-->
<app-header></app-header>

<!--======================================START==================================-->    

<app-about-me></app-about-me>

<!--=====================================SKILLS=====================================-->

<app-skills></app-skills>

<!--=================================EDUCATION====================================-->

<app-education></app-education>

<!--=================================EXPERIENCE====================================-->

<app-experience></app-experience>

<!--=========================================PROJECTS===============================================-->

<app-projects></app-projects>