<!--=====================================HEADER====================================-->

<header class="d-flex justify-content-between" style="width: 100%; height: 100%;">
    <div class="d-flex">
        <div>
            <a href="https://argentinaprograma.inti.gob.ar/"> <img src="./assets/Backgrounds/Argentina programa.png" alt="argentina programa" style="height: 50px;"></a>
        </div> 
        <div    class="d-flex justify-content-between align-items-center">
            
            <a href="https://www.facebook.com/rafael.machado.52687" class="d-none d-sm-block"> <i class="uil uil-facebook text-white"></i> </a>
            <a href="" class="d-none d-sm-block"> <i class="uil uil-twitter text-white"></i> </a>
            <a href="https://www.instagram.com/rafaelmachadoignacio/" class="d-none d-sm-block"> <i class="uil uil-instagram-alt text-white"></i> </a>     
        </div>
    </div>
    <div class="btn">
        <button class="button-lgn" type="submit">Log In</button>
    </div>
</header>

<!--======================================START==================================-->    

<section class="start p-4">
    <div class="rounded-5 cont-start">
        
        <div class="rounded-4 rounded-top background_picture d-none d-sm-block">
            <img class="background-inicio position-relative d-none d-md-block" src="./assets/Backgrounds/fondo.jpg" alt="background"> 
        </div>
        
        <div class="information">
            
            <div class="container_perfil position-absolute">
                <img src="./assets/Backgrounds/perfil.jpg" alt="perfil" class="perfil rounded-circle ms-4 position-absolute">
            
            </div>
            
          
          
            <div class="d-flex">

                <div class="name ps-0" style="width: 25%;">
                    <h2 class="text-white">Machado, Rafael</h2>
                    <p class="text-dark" style="height: 1rem;">Buenos Aires, Argentina</p>
                </div>

                <div class="d-flex pt-4">
                
                    <div class="about_description pe-3"> 
                        <div class="d-flex">
                            <i class="uil uil-edit pt-2" style="font-size: 1.5rem;"></i>
                            <h1 class="px-2">About Me:</h1>
                        </div>
                        
                        <h3>Full Stack <span class="text-warning">Web Developer</span></h3>
                            
                        <h4>Capacitado en el curso del Ministerio de Desarrollo "Argentina Programa".</h4> 
                       
                        <h4>Estudiante de la carrera Letras en la Facultad de Filosofía y Letras de la UBA. <br> 
                            Dentro de la misma opté por la rama de lingüística para aprender sobre <br>
                            Natural Language Processing (NLP).
                        </h4>
                    </div>
                </div>
            </div>  
        

        </div>
    </div>
</section> 

<!--=====================================SKILLS=====================================-->

<section class="section_skills p-4">
    <div class="cont-start rounded-5" >
        
        <div class="d-flex justify-content-center">
            <h1 class="title d-flex justify-content-center pt-5 pb-5">Skills</h1> 
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus"></i></a>
        </div>
       
        <div class="d-flex justify-content-evenly" style="padding-top: 1%;padding-bottom: 5rem;"> <!-- Con esto garantizo la distancia entre ambas tarjetas contenedoras-->
            
                <div class="card3 pt-2 pb-5" >
                    <div class="d-flex justify-content-evenly pt-3"> 
                        <i class="uil uil-brackets-curly icon_curly"></i>
                        <h3 class="ps-4 text-white">Frontend <br> developer </h3>
                        <i class="uil uil-pen icon_edit" id="edit_card1"></i>
                    </div>
                    <div class="d-flex justify-content-evenly" style="height: 250px; margin-top: 20%;">
                        <div class="list d-flex justify-content-evenly flex-column text-white" id="card1">
                            <div id="html">
                                <div class="d-flex justify-content-between">
                                    <p>HTML</p>  
                                    <i class="uil uil-times icon_close_card1" id="close_html"></i>
                                </div>
                                <progress class="bar" value="90" max="100">70 %</progress> 
                            </div>

                            <div id="css">
                                <div class="d-flex justify-content-between">
                                    <p>CSS</p>
                                    <i class="uil uil-times icon_close_card1" id="close_css"></i>
                                </div>
                                <progress class="bar" value="70" max="100">70 %</progress>         
                            </div>
                            <div id="javascript">
                                <div class="d-flex justify-content-between">
                                    <p>Javascript</p>
                                    <i class="uil uil-times icon_close_card1" id="close_javascript"></i>
                                </div>
                                <progress class="bar" value="50" max="100">70 %</progress>  
                            </div>
                            
                            <div id="angular"> 
                                <div class="d-flex justify-content-between">
                                    <p>Angular</p>
                                    <i class="uil uil-times icon_close_card1" id="close_angular"></i>
                                </div>
                                <progress class="bar" value="10" max="100">70 %</progress>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card3 pt-2 flex-shrink-1">
                    <div class="d-flex justify-content-evenly align-items-center pt-3">
                            <i class="uil uil-server-network icon_curly"></i>
                        <h3 class="ps-4 text-white">Backend <br> developer </h3>
                    <i class="uil uil-pen icon_edit" id="edit_card2"></i>
                    </div>
                
                    <div class="d-flex justify-content-evenly" style="height: 250px; margin-top: 20%;"> <!--/*Con esto ubicamos las habilidades en el centro de la tarjeta, pero de forma horizontal*/-->
                        <div class="list d-flex justify-content-evenly flex-column text-white">
                            <div id="mysql">
                                <div class="d-flex justify-content-between">
                                    <p>MySQL</p>  
                                    <i class="uil uil-times icon_close_card2" id="close_mysql"></i>
                                </div>
                                <progress class="bar" value="90" max="100">70 %</progress> 
                            </div>
                            <div id="js">
                                <div class="d-flex justify-content-between">
                                    <p>Javascript</p>
                                    <i class="uil uil-times icon_close_card2" id="close_js" ></i>
                                </div>
                                <progress class="bar" value="70" max="100">70 %</progress> 
                            </div>
                            
                            <div id="java">
                                <div class="d-flex justify-content-between">
                                        <p>JAVA</p>
                                        <i class="uil uil-times icon_close_card2" id="close_java"></i>
                                    </div>
                                    <progress class="bar" value="50" max="100">70 %</progress>    
                                </div>

                            <div id="firebase">
                                <div class="d-flex justify-content-between">
                                    <p>Firebase</p>
                                    <i class="uil uil-times icon_close_card2" id="close_firebase"></i>
                                </div>
                                <progress class="bar" value="10" max="100">70 %</progress> 
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<!--=================================EDUCATION====================================-->

<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <h1 class="title d-flex justify-content-center pt-5 pb-5">Educación</h1> 
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus "></i></a>
        </div>
            <div class="template_cards flex-shrink-1">
                <div class="written">
                    <div class="d-flex justify-content-baseline">
                        <i class="uil uil-pen" id="edit_tecnica" ></i>
                        <i class="uil uil-trash-alt" id="eliminar_tecnica"></i>
                        <h1 id="h1tecnica">Título secundario (2015)</h1>
                    </div>
                    <p id="ptecnica">Escuela de educación técnica n°2 - Merlo BS.AS <br>
                                    Maestro mayor de obras
                    </p>
                </div>
                <div class="escudo ténica d-none d-md-block">
                    <img id="logo_tecnica" src="./assets/Backgrounds/eetn2.png" alt="tecnica2">
                </div>   
            </div>

            <div class="template_cards flex-shrink-1" id="card_education_two">
                <div class="written">
                    <div class="d-flex justify-content-baseline">
                        <i class="uil uil-pen" id="edit_uni"></i>
                        <i class="uil uil-trash-alt" id="eliminar_uni"></i>
                        <h1 id="h1tecnica">Título Universitario (En curso)</h1>
                    </div>
                    <p id="ptecnica">Universidad de Buenos Aires <br>
                                    Licenciatura en Letras
                    </p>
                </div>
                <div class="escudo ténica d-none d-md-block">
                    <img id="logo_filo" src="./assets/Backgrounds/Filo_uba.png" alt="filo_uba">
                </div>   
            </div>                
    </div>
</section>

<!--=================================EXPERIENCE====================================-->
<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <h1 class="title pt-5 pb-5">Experiencia</h1>  
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus "></i></a>
        </div>
            <div class="template_cards flex-shrink-1">
                <div class="written">
                    <div class="d-flex justify-content-baseline">
                        <i class="uil uil-pen" id="edit_tecnica"></i>
                        <i class="uil uil-trash-alt" id="eliminar_trabajo_uno"></i>
                        <h1 id="h1_experiencia_uno">Back Up Gráfico</h1>
                    </div>
                    <p id="p_trabajouno" class="lh-lg">Local de diseño gráfico.<br>
                                    2016-2020
                    </p>
                </div>
                <div class="escudo ténica d-none d-sm-block">
                    <img class="imgs_cards" src="./assets/Backgrounds/back_up.jpg" alt="back_up">
                </div>   
            </div>
    </div>
</section>

<!--=========================================PROJECTS===============================================-->

<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <h1 class="title pt-5 pb-5 font-size-lg">Proyectos</h1>  
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus "></i></a>
        </div>

            <div class="template_cards flex-shrink-1">
                <div class="written">
                    <div class="d-flex justify-content-baseline" id="educacion_uno">
                        <i class="uil uil-pen" id="edit_tecnica"></i>
                        <i class="uil uil-trash-alt" id="eliminar_trabajo_uno"></i>
                        <h1 id="h1_experiencia_uno">Portfolio</h1> 
                    </div>
                    <p class="lh-lg">Proyecto creado para Argentina Programa.<br> 2022
                    </p>
                </div>
                <div class="logo d-none d-sm-block">
                    <a href="https://github.com/">
                        <i class="uil uil-github"></i>
                    </a>
                </div>   
            </div>
    </div>
</section>