<!--=====================================HEADER====================================-->
<app-header></app-header>

<!--======================================START==================================-->    

<app-about-me></app-about-me>

<!--=====================================SKILLS=====================================-->

<app-skills></app-skills>

<!--=================================EDUCATION====================================-->

<app-education></app-education>

<!--=================================EXPERIENCE====================================-->

<app-experience></app-experience>

<!--=========================================PROJECTS===============================================-->

<section class="p-4">
    <div class="cont-start rounded-5 pb-5 flex-column d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <h1 class="title pt-5 pb-5 font-size-lg">Proyectos</h1>  
            <a href="#" class="title pt-4 ps-3"><i class="bi bi-plus-slash-minus "></i></a>
        </div>

            <div class="template_cards flex-shrink-1">
                <div class="written">
                    <div class="d-flex justify-content-baseline" id="educacion_uno">
                        <i class="uil uil-pen" id="edit_tecnica"></i>
                        <i class="uil uil-trash-alt" id="eliminar_trabajo_uno"></i>
                        <h1 id="h1_experiencia_uno">Portfolio</h1> 
                    </div>
                    <p class="lh-lg">Proyecto creado para Argentina Programa.<br> 2022
                    </p>
                </div>
                <div class="logo d-none d-sm-block">
                    <a href="https://github.com/">
                        <i class="uil uil-github"></i>
                    </a>
                </div>   
            </div>
    </div>
</section>