<header class="d-flex justify-content-between" style="width: 100%; height: 100%;">
    <div class="d-flex">
        <div>
            <a href="https://argentinaprograma.inti.gob.ar/"> <img src="./assets/Backgrounds/Argentina programa.png" alt="argentina programa" style="height: 50px;"></a>
        </div> 
        <div    class="d-flex justify-content-between align-items-center">
            
            <a href="https://www.facebook.com/rafael.machado.52687" class="d-none d-sm-block"> <i class="uil uil-facebook text-white"></i> </a>
            <a href="" class="d-none d-sm-block"> <i class="uil uil-twitter text-white"></i> </a>
            <a href="https://www.instagram.com/rafaelmachadoignacio/" class="d-none d-sm-block"> <i class="uil uil-instagram-alt text-white"></i> </a>     
        </div>
    </div>
    <div class="btn">
        <button class="button-lgn" type="submit">Log In</button>
    </div>
</header>

