<div class="p-4" style="background-color: #f2f2f2; height: 100%;">
    
    <div class="p-4 cont-start rounded-5" style="width: 50%;">
        <form class="text-white">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex justify-space-evenly">
                <button type="submit" class="btn btn-primary" style="background-color: #9CD3D8;">Submit</button>
                <button type="submit" class="btn btn-primary" style="background-color: #9CD3D8;"><a routerLink="/">Go Back</a></button>
            </div>
            <router-outlet></router-outlet>
            
        </form>
        
    </div>
    
</div>
