<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="pb-3">
                <h1 class="d-flex justify-content-center">Incorpore una nueva skill</h1>
                <div class="form-group">
                    <label for="nombreS" class="text-white pt-2 pb-2">Nombre de la skill</label>
                    <input type="text" class="form-control" name="nombreS" id="nombreS" [(ngModel)]="nombreS" required>
                </div>
                <div class="form-group pb-3">
                    <label for="porcentaje" class="text-white pt-2 pb-2">Nivel de la skill en porcentaje</label>
                    <input type="number" class="form-control" name="porcentaje" id="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
</div>