<section class="section_skills p-4">
    <div class="cont-start rounded-5" >
        
        <div class="d-flex justify-content-center">
            <h1 class="title d-flex justify-content-center pt-5 pb-5">Skills</h1> 
            <div class="title pb-5" style="padding-top: 2rem;">    
                <i class="bi bi-plus-circle-fill ps-3" routerLink="/nuevaskill" *ngIf="isLogged"></i>
            </div>  
        </div>
       
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 text-center pb-5 circulo" *ngFor="let Skill of skills">
                <circle-progress
                    [percent]="(Skill.porcentaje)"
                    [radius]="80"
                    [title]="(Skill.nombreS)"
                    [titleColor]="'white'"
                    [titleFontSize]="'1.7em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="400"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                    class="pb-2"
                ></circle-progress>   
               
                <div class="pb-3">
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" style="background-color: #9CD3D8;" routerLink="/editskill/{{Skill.id}}">
                        <i class="bi bi-pencil-fill"  style="padding-left: 0;"></i></button>
                    </td>
                    <td *ngIf="isLogged" class="ps-3">
                        <button class="btn btn-light" style="background-color: #9CD3D8;" (click)="delete(Skill.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>    
                </div>
               
            </div>
            
        </div>

    </div>
</section>

