<section class="section_skills p-4">
    <div class="cont-start rounded-5" >
        
        <div class="d-flex justify-content-center">
            <h1 class="title d-flex justify-content-center pt-5 pb-5">Skills</h1> 
            <a href="#" class="title pt-4 ps-3">
                <i class="bi bi-plus-circle-fill ps-3"></i>   
            </a>
        </div>
       
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 text-center pb-5">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'HTML'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="400"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'CSS'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="500"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'Javascript'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="550"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'JAVA'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="400"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'Angular'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="500"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'MySQL'"
                    [titleColor]="'white'"
                    [titleFontSize]="'2em'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'#0b6986'"
                    [innerStrokeColor]="'#9CD3D8'"
                    [animation]="true"
                    [animationDuration]="550"
                    [showBackground]="true"
                    [backgroundColor]="'white'"
                    [backgroundOpacity]="0.2"
                ></circle-progress>   
            </div>   
        </div>

    </div>
</section>

